<%- include('partials/header') -%>
<div class = "mainDiv">
      <ul class = "activities">
          <% for(let i = 0; i < posts.length; i++) {%>
              <li class="activity">
                  <span><%= posts[i].activityName %></span>
                  <span class="time"><%= posts[i].time %> min</span>
              </li>
          <% } %>
      </ul>
      <h2>Choose activity:</h2>
      <form action = "/post/createPost" enctype="multipart/form-data" method="POST">
          <input type = "text" placeholder="activity" name="activityName">
          <input type="number" placeholder="time by minutes" name="time">
          <input type="submit">
      </form>
  </div>
<%- include('partials/footer') -%>